#videoPlayerDiv{ 
  width: 100%;
  height: 100%;
  background: #000;
  background-image: url('../media/bg-portrait2.png');
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
}

#videoMain{ 
	// width:100%;
	height:650px;
	// border: 2px solid red;
	position: absolute;
	// top: 0;
	bottom: 200px;
	left: 0;
	z-index: 0;
	padding-top: 150px;
}

#videoBsl{ 
	position: absolute;
	height: 600px;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity 0.5s ease-in-out;
}
.hidden {
	opacity: 0;
}

#vidControls { 
  padding: 0px 1%;
  // color: #CCC;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
	height:180px;
	z-index: 2;
	transform: translateY(0px);
	transition: all 0.5s ease;
}

.hiddenControls {
	transform: translateY(180px) !important;
	transition: all 1s ease !important; 
}
.hiddenMenuBtn {
	transform: translateY(-270px);
	transition: all 1s ease !important; 
}

.captionsNoControls {
	transform: translateY(120px) !important;
	transition: all 1s ease !important; 
}

#backgroundShadow {
	width:100%;
	height:200px;
	position: absolute;
	left:0;
	bottom:0;
	background: rgba(0,0,0,0.8);
	// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	opacity: 1;
	transition: all 0.5s ease;
}

.hiddenShadow {
	opacity:0 !important;
	transform: translateY(180px) !important;
	transition: all 1.5s ease;
}
#buttonWrapper {
	height:100px;
	width:100%;
	position: absolute;
	bottom:0px;
	left:0px;
	padding: 0% 1%;
	box-sizing: border-box;
}

#videoPlayerScreen button {
	width:100px;
	height:100px;
	float:left;
	outline: none;
	border:none;
  background-color: transparent;
}

#playPauseBtn:active, #restartBtn:active, #menuBtn:active {
	transform: scale(0.9);
	opacity: 0.7;
}

.toggleBtn:active {
	transform: scale(0.95);
	opacity: 0.9;
}

#menuBtnDiv {
	position: absolute;
	top: -30px;
	left: -20px;
	width: 250px;
	height: 250px;
	z-index: 5;
	transition: all 0.5s ease;
}
#menuBtnBg {
	position: absolute;
	width: 75%;
	height: 75%;
	border-radius: 0 0 200px 0;
	background: rgba(229,229,229,1);
/*	background: radial-gradient(circle at 0% 0%, rgba(0,0,0,0.6) 0%, transparent 60%);*/
	filter: blur(10px);
}
#menuBtn {
	position: absolute;
	background-image: url("../img/back-button.svg");
	top: 30px;
	left: 38px;
	width:100px;
	height:100px;
	filter: none;
}

#durationWrapper, #titleWrapper {
	display: flex;
	align-items: center;
  height: 100px;
  float: left;
  box-sizing: border-box;
  padding: 35px 30px;
	font-size:21px;
	position:relative;
}

#durationWrapper {
	width:200px;
}


#curTimeText, #movieTitle {
	font-family: MrEavesBold;
	color: white;
}
#curTimeText {
	width: 58px;
}

#durTimeText {
	padding-left: 3px;
	font-family: MrEavesReg;
}
#movieTitle {
	padding-left: 18px;
}
#movieTitle:before {
	content:"|";
	position:absolute;
	left:0;
	font-family: MrEavesReg;
}


#buttonWrapper button.toggleBtn {
	float:right;
 }

.toggleBtn span {
	width: 90%;
	height:55%;
	border: solid 1px #fff;
	text-align: center;
	color:white;
	margin:22% 5%;
	display: inline-block;
  vertical-align: middle;
	border-radius: 6px;
  line-height: 260%;
	font-family: MrEavesBold;
	font-size:21px;
	transition: all 0.5s ease-in-out;
}

button.active span{
	background-color:white;
	color:#000;
}

.pause {
	background-image: url("../img/pause.svg");
}

.play {
	background-image: url("../img/play.svg");
}

#restartBtn {
	background-image: url("../img/reload.svg");
}

#captionDisplay {
	font-family: MrEavesBold;
	white-space: pre-wrap;
	text-align: center;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	padding: 25px;
	line-height: 1.5;
	display: block;
	left:50%;
	width: 50%;
	bottom:200px;
	z-index: 2;
	font-size: 48px;
	transform: translateX(-50%);
	// text-shadow: 
	// 	1px 1px #000,
	// 	-1px 1px #000,
	// 	1px -1px #000,
	// 	-1px -1px #000;
	// color: white;
	// text-shadow: 
	// 	1px 1px #FFF,
	// 	-1px 1px #FFF,
	// 	1px -1px #FFF,
	// 	-1px -1px #FFF;
	color: black;
}

#captionBackdrop {
	position: absolute;
	left: 0;
	top:175px;
	height: 180px;
	background: #e5e5e5;
	background: linear-gradient(to bottom,
		rgba(229,229,229,0) 0%,
		rgba(229,229,229,1) 5%,
		rgba(229,229,229,1) 95%,
		rgba(229,229,229,0) 100%);
	width: 100%;
}

.bsl-active {
	display:block !important;
}

.hide {
	display:block !important;
}


#seekSlider {
	width: 100%;
	height: 54px;
/*	background: rgba(0,0,0,0.3);*/
	padding: 11px 8px;
	margin-top: 42px;
	box-sizing: border-box;
}

#seekTrack {
	width: 100%;
	height: 8px;
	background: white;
	position: relative;
	margin-top: 12px;
	left: 0;
	border-radius: 5px;
	background: rgba(200,200,200,0.7);
}

#seekComplete {
	position: absolute;
	width: 0%;
	height: 8px;
	background: white;
	border-radius: 5px 0 0 5px;
}
#seekComplete:after {
	content: ' ';
	position: absolute;
	top: -8px;
	right: -12px;
	height: 24px;
	width: 24px;
	border-radius: 30px;
	background: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.smallScreen {
	#playPauseBtn, #restartBtn {
		margin-left: 0px;
	}
	#restartBtn {
		margin-left: 0px;
		margin-right: 0px;
	}
	#durationWrapper, #titleWrapper {
		font-size: 32px;
	}
	#durationWrapper {
		width: 230px;
	}
	#curTimeText {
		width: 83px;
	}
	.toggleBtn span {
		font-size:35px;
	}
	#seekSlider {
		margin-top: 25px;
	}
	#vidControls { 
		height: 200px;
	}
	#buttonWrapper {
		height:120px;
	}
	button {
		transform: scale(1.2);
	}
	#playPauseBtn:active, #restartBtn:active, #menuBtn:active {
		transform: scale(1.08);
		opacity: 0.7;
	}
	.toggleBtn {
		width: 150px !important;
	}
	.toggleBtn:active {
		transform: scale(1.14);
		opacity: 0.9;
	}
	#captionDisplay {
		width: 90%;
		top:-1000px;
	}
	#menuBtn {
		position: absolute;
		background-image: url("../img/back-button.svg");
		top: 50px;
		left: 40px;
	}
}